version: "3.9"

services:
  postgres-warehouse:
    image: "postgres:15.0-bullseye"
    container_name: postgres-warehouse
    restart: always
    ports:
      - "${DWH_POSTGRES_PORT}:5432"
    environment:
      - POSTGRES_DB: ${DWH_POSTGRES_DB}
      - POSTGRES_USER: ${DWH_POSTGRES_USER}
      - POSTGRES_PASSWORD: ${DWH_POSTGRES_PASSWORD}
    volumes:
      - warehouse-volume:/var/lib/postgresql/data

  dbt:
    image: "ghcr.io/dbt-labs/dbt-postgres:1.3.latest"
    container_name: dbt
    volumes:
      - .:/usr/app
      - ./dbt/config/profiles.yml:/root/.dbt/profiles.yml
    command: [ "init", ${DBT_PROJECT} ]
    depends_on:
      - postgres-warehouse

  metabase-db:
    image: "postgres:15.0-bullseye"
    container_name: metabase-db
    restart: always
    ports:
      - "${MB_DB_PORT}:5432"
    environment:
      - POSTGRES_DB: ${MB_DB_NAME}
      - POSTGRES_USER: ${MB_DB_USER}
      - POSTGRES_PASSWORD: ${MB_DB_PASSWORD}
    volumes:
      - metabase-db-volume:/var/lib/postgresql/data

  metabase:
    image: "metabase/metabase:v0.44.5"
    container_name: metabase
    restart: always
    ports:
      - "${MB_PORT}:3000"
    environment:
      - MB_DB_TYPE: postgres
      - MB_DB_DBNAME: ${MB_DB_NAME}
      - MB_DB_PORT: ${MB_DB_PORT}
      - MB_DB_USER: ${MB_DB_USER}
      - MB_DB_PASS: ${MB_DB_PASSWORD}
      - MB_DB_HOST: ${MB_DB_HOST}


volumes:
  warehouse-volume:
  metabase-db-volume:
