"{{ env_var('DBT_PROJECT_NAME', 'analytics') }}":
  target: dev
  outputs:
    dev:
      type: postgres
      host: host.docker.internal
      user: "{{ env_var('DWH_POSTGRES_USER') }}"
      password: "{{ env_var('DWH_POSTGRES_PASSWORD') }}"
      port: "{{ env_var('DWH_POSTGRES_USER', 5432) | int }}"
      dbname: "{{ env_var('DWH_POSTGRES_DB') }}"
      schema: "{{ env_var('DBT_SCHEMA', 'public') }}"
      threads: "{{ env_var('DBT_THREADS', 4) | int }}"
